<p>categoria-index works!</p>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of categorias; let i=index">
            <td>{{ cat.id }}</td>
            <td>{{ cat.nombre }}</td>
            <td>{{ cat.descripcion }}</td>
            <td>
                <a routerLink="/admin/categoria/{{cat.id}}/modificar">Editar</a>
                <button (click)="eliminar(cat.id, i)">x</button>
            </td>
        </tr>
    </tbody>
</table>
